plex-docker:
  mounts:
    # Where's your media? The mapping is [source: destination] where source
    # is the location on the host machine and destinationis the location inside
    # the container.
    /path/to/media: /mapped/path/to/media/in/container
    /media/mydisk: /media/mydisk
    /mnt/networkshare: /media/networkshare

  # What Systemd services should plex-docker start after?
  systemd_after_deps:
    - mount-remote-volume.service
    - mount-some-disk.service
    - network-internet.service

  # The location of Plex' config. It should contain a directory called "Library"
  config: /var/lib/plex/config

  # The location where Plex puts its transcode files. If this is empty string,
  # Plex uses its container volume to store transcode files.
  transcode: /var/cache/plex/transcode
