{%- from "plex-docker/map.jinja" import plex with context -%}
[Unit]
Description=Official Docker container for Plex Media Server
After=docker.service {% for dep in plex.systemd_after_deps %}{{ dep }} {% endfor %}
After=docker.service

[Service]
TimeoutStartSec={{ plex.timeout_start_sec }}
Restart=always
RestartSec=10
ExecStartPre=-{{ plex.docker_executable }} rm -f plex
ExecStartPre={{ plex.docker_executable }} pull plexinc/pms-docker:latest
ExecStart={{ plex.docker_executable }} run \
        --name plex \
        --net=host \
        -e TZ="{{ plex.timezone }}" \
        -v /tmp:/tmp \
        -v {{ plex.config }}:/config \
        {% if plex.transcode -%}
        -v {{ plex.transcode }}:/transcode \
        {% endif -%}
        {% for source, dest in plex.mounts.items() -%}
        -v "{{ source }}:{{ dest }}" \
        {% endfor -%}
        {% for device in plex.devices -%}
        --device {{ device }}:{{ device }} \
        {% endfor -%}
        plexinc/pms-docker:latest

[Install]
WantedBy=multi-user.target
